{% extends 'base.html.twig' %}

{% block title %}Страница поста!{% endblock %}

{% block body %}

<div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ viewPost.headline }}</h5>
            <p class="card-text">{{ viewPost.dateCreate | date }}</p>
            <p class="card-text">{{ viewPost.text }}</p>
        </div>
        <a href="{{ path('edit_post', {'id': viewPost.id}) }}" class="btn btn-basic">Редактировать</a>

    </div>

</div>
{% endblock %}
